allow-loopback-pinentry
{{ if eq .chezmoi.os "darwin" -}}
pinentry-program /opt/homebrew/bin/pinentry-mac
{{- else -}}
# pass and aws-vault depend on this pinentry, not just git signing.
pinentry-program {{ .chezmoi.homeDir }}/.local/bin/pinentry-wsl
{{- end }}
default-cache-ttl 84000
max-cache-ttl 84000
{{ if eq .chezmoi.os "darwin" -}}
enable-ssh-support
{{- end }}
